{% extends "global/base.html" %}

{% block title %}Cadastre-se |  {% endblock title %}

{% block content %}
    <div class="register-container container">
        <h1>Cadastre-se </h1>
    </div>
    <div class="register-container">
        <form action="{% url 'authors:create' %}" method="post">
            {% csrf_token %}
            <div class="form-content form-content-grid">
                
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                        {% if field.help_text %}
                            <p class="help-text">
                                {{field.help_text}}
                            </p>
                        {% endif %}
                        {{field.errors}}
                    </div>
                {% endfor %}
                {% if form.errors %}
                    <div class="full-width-message messages-container">
                        <div class="message message-error ">
                            There are erros in the form, please fix them and send again.
                        </div>
                    </div>
                {% endif %}

                <div class="form-group button-register">
                    <button type="submit">Cadastrar</button>
                </div>
            
            </div>
        </form>
    </div>
{% endblock content %}